#CLOCK

NET "CLKIn" LOC = B8;
NET "CLKOut" LOC = G1;
#Outputs Binary LEDS

#NET "Q0" LOC =M5; 
#NET "Q1" LOC =M11; 
##NET "Q2" LOC =P7; 
#NET "Q3" LOC =P6;

#HEX ENABLE
NET "hexEN" LOC =N3;

#LOAD INPUT
NET "Load0" LOC =P11; 
NET "Load1" LOC =L3;
NET "Load2" LOC =K3; 
NET "Load3" LOC =B4;

NET "EnableLoad" LOC = C11;


#Count clock ticks, DEBUG
NET "clockCount0" LOC =N5;
NET "clockCount1" LOC =N4;
NET "clockCount2" LOC =P4;

#STATE 3 - YOGI
#NET "STATE_3" LOC =P4;
#NET "STATE_TEST" LOC =N4; # DELETE LATER FOR DFEBUG OLY
#NET "YOGI_ST" LOC =N4;
#NET "YOGI_ET" LOC =N5;
#NET "TEST" LOC =N4; # DELETE LATER FOR DFEBUG OLY

NET "CLR" LOC = G12;

# BINARY BCD OUTPUT CONSTRAINTS BELOW

#Anodes 0 -3

NET "anO[3]" LOC = K14;
NET "anO[2]" LOC = M13;
NET "anO[1]" LOC = J12; #First anode 
NET "anO[0]" LOC = F12; #SEcond anode on board


#Hex -binary output

#Plan ahead Cathode output


NET "sseg[7]" LOC = N13; # decimal point dont need 
NET "sseg[0]" LOC = M12; #CG
NET "sseg[1]" LOC = L13; #CF
NET "sseg[2]" LOC = P12; #CE
NET "sseg[3]" LOC = N11; #CD
NET "sseg[4]" LOC = N14; #CC
NET "sseg[5]" LOC = H12; #CB
NET "sseg[6]" LOC = L14; #CA




