//! **************************************************************************
// Written by: Map P.20131013 on Sun May 13 16:12:57 2018
//! **************************************************************************

SCHEMATIC START;
COMP "C_Shift" LOCATE = SITE "B4" LEVEL 1;
PIN C_Shift_pin<0> = BEL "C_Shift" PINNAME PAD;
PIN "C_Shift_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "C_Write" LOCATE = SITE "M4" LEVEL 1;
PIN C_Write_pin<0> = BEL "C_Write" PINNAME PAD;
PIN "C_Write_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "AorD" LOCATE = SITE "P11" LEVEL 1;
COMP "Toggle_Output" LOCATE = SITE "K3" LEVEL 1;
COMP "RunMode" LOCATE = SITE "N3" LEVEL 1;
COMP "colO<0>" LOCATE = SITE "B2" LEVEL 1;
COMP "colO<1>" LOCATE = SITE "A3" LEVEL 1;
COMP "colO<2>" LOCATE = SITE "J3" LEVEL 1;
COMP "colO<3>" LOCATE = SITE "B5" LEVEL 1;
COMP "Clock" LOCATE = SITE "B8" LEVEL 1;
COMP "btn_CLR" LOCATE = SITE "G12" LEVEL 1;
COMP "C_WriteOne" LOCATE = SITE "A7" LEVEL 1;
PIN C_WriteOne_pin<0> = BEL "C_WriteOne" PINNAME PAD;
PIN "C_WriteOne_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "sseg<0>" LOCATE = SITE "M12" LEVEL 1;
COMP "sseg<1>" LOCATE = SITE "L13" LEVEL 1;
COMP "sseg<2>" LOCATE = SITE "P12" LEVEL 1;
COMP "sseg<3>" LOCATE = SITE "N11" LEVEL 1;
COMP "sseg<4>" LOCATE = SITE "N14" LEVEL 1;
COMP "sseg<5>" LOCATE = SITE "H12" LEVEL 1;
COMP "sseg<6>" LOCATE = SITE "L14" LEVEL 1;
COMP "IRorDR" LOCATE = SITE "L3" LEVEL 1;
COMP "EN_D_Memory" LOCATE = SITE "F3" LEVEL 1;
COMP "btn_Memory" LOCATE = SITE "C11" LEVEL 1;
COMP "anO<0>" LOCATE = SITE "F12" LEVEL 1;
COMP "anO<1>" LOCATE = SITE "J12" LEVEL 1;
COMP "anO<2>" LOCATE = SITE "M13" LEVEL 1;
COMP "anO<3>" LOCATE = SITE "K14" LEVEL 1;
COMP "EN_I_Memory" LOCATE = SITE "E2" LEVEL 1;
COMP "EnableInstructionLED" LOCATE = SITE "P4" LEVEL 1;
COMP "SWITCH_SPeed" LOCATE = SITE "G3" LEVEL 1;
COMP "row<0>" LOCATE = SITE "C6" LEVEL 1;
COMP "row<1>" LOCATE = SITE "B6" LEVEL 1;
COMP "row<2>" LOCATE = SITE "C5" LEVEL 1;
COMP "row<3>" LOCATE = SITE "B7" LEVEL 1;
COMP "RunModeLED" LOCATE = SITE "G1" LEVEL 1;
COMP "EnableDataLED" LOCATE = SITE "N4" LEVEL 1;
NET "C_Shift_BUFGP/IBUFG" BEL "C_Shift_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
NET "C_Write_BUFGP/IBUFG" BEL "C_Write_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
NET "Clock_BUFGP/IBUFG" BEL "Clock_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

