//! **************************************************************************
// Written by: Map P.20131013 on Tue Mar 27 11:26:50 2018
//! **************************************************************************

SCHEMATIC START;
COMP "Din0" LOCATE = SITE "M5" LEVEL 1;
COMP "Din1" LOCATE = SITE "M11" LEVEL 1;
COMP "Din2" LOCATE = SITE "P7" LEVEL 1;
COMP "Dclk" LOCATE = SITE "G1" LEVEL 1;
COMP "CLKInput" LOCATE = SITE "B8" LEVEL 1;
NET "CLKInput_BUFGP/IBUFG" BEL "CLKInput_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

