//! **************************************************************************
// Written by: Map P.20131013 on Tue Mar 13 11:26:15 2018
//! **************************************************************************

SCHEMATIC START;
COMP "Q0" LOCATE = SITE "M5" LEVEL 1;
COMP "Q1" LOCATE = SITE "M11" LEVEL 1;
COMP "Q2" LOCATE = SITE "P7" LEVEL 1;
COMP "Q3" LOCATE = SITE "P6" LEVEL 1;
COMP "CLR" LOCATE = SITE "G12" LEVEL 1;
COMP "Clock" LOCATE = SITE "B8" LEVEL 1;
NET "Clock_BUFGP/IBUFG" BEL "Clock_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
SCHEMATIC END;

