#CLOCK

NET "CLKIn" LOC = B8;

#Outputs Binary LEDS

NET "Q0" LOC =M5; 
NET "Q1" LOC =M11; 
NET "Q2" LOC =P7; 
NET "Q3" LOC =P6;

#NET "Photo" LOC = G1; 

#Reset buttons
NET "Op" LOC = G12;
NET "Clos" LOC = C11;
NET "Photo" LOC = A7;


#Motor LEDS
#NET "Opening" LOC = N5;
#NET "OpOut" LOC = N4;

#NET "Closing" LOC = P4;
#NET "Closed" LOC = G1;


# BINARY BCD OUTPUT CONSTRAINTS BELOW

#Anodes 0 -3

NET "anO[3]" LOC = K14;
NET "anO[2]" LOC = M13;
NET "anO[1]" LOC = J12; #First anode 
NET "anO[0]" LOC = F12; #SEcond anode on board


#Hex -binary output

#Plan ahead Cathode output


NET "sseg[7]" LOC = N13; # decimal point dont need 
NET "sseg[0]" LOC = M12; #CG
NET "sseg[1]" LOC = L13; #CF
NET "sseg[2]" LOC = P12; #CE
NET "sseg[3]" LOC = N11; #CD
NET "sseg[4]" LOC = N14; #CC
NET "sseg[5]" LOC = H12; #CB
NET "sseg[6]" LOC = L14; #CA




